[data-rehype-pretty-code-fragment] {
  align-self: stretch;
}

[data-rehype-pretty-code-title] {
  @apply mt-4 py-2 p-4 bg-primary-black text-primary-white font-bold text-sm rounded-[6px_6px_0px_0px] border-2 border-solid border-[rgba(42,46,53,0.5)];
}

[data-rehype-pretty-code-fragment] pre{
  @apply rounded-[0px_0px_6px_6px] border-2 border-solid border-[rgba(42,46,53,0.5)];
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full box-decoration-clone bg-[#2d2d2d] p-4 rounded-[0px_0px_6px_6px] border-2 border-solid border-[rgba(42,46,53,0.5)];
  counter-reset: line;
  word-break: break-word;
}

[data-rehype-pretty-code-fragment] .line {
  @apply px-4 py-1;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  @apply content-[counter(line)] inline-block w-4 text-right text-[gray] mr-4;
  counter-increment: line;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-slate-300 bg-opacity-10;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-slate-300 bg-opacity-10 p-1;
}